@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@200;400&family=Roboto+Mono&display=swap');


/* cabecera */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background-color: #1f2937;
  color: aliceblue;
  height: 600px;
  
}
.texmenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
h2{
  margin-left: 20vh;
}
.links {
  display: flex;
  gap: 160px;
  margin-right: 20vh;
}
a {
  color: black;
  text-decoration: none;
  color: aliceblue;
}
.text-descripcion{
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 400px;
  height: 200px;
  margin-top: 25px;
  margin-left: 20vh;
  align-items: flex-start;
}
.text-descripcion h1{
  font-size: 8vh;
}
.text-descripcion p{
  position: relative;
  bottom: 60px;
}
.text-descripcion .button {
  position: absolute;
  top: 490px;
  box-sizing: border-box;
  background-color: #3882f6;
  border-radius: 0px;
  padding: 16px;
  font-size: 21px;
  color: white;
  border-radius: 13px;
}
.recuadro{
  width: 800px;
  height: 254px;
  background-color: gray;
  position: relative;
  bottom: 128px;
  left: 946px;
}
/* parte media */
/* .centro{
  display: flex;
  flex-direction: column;
} */
.title-1{
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 35px;
}
.cuadrados{
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-bottom: 100px;
  
}
.cuadros {
display: flex;
  width: 250px;
  height: 250px;
  border: 3.5px #3882f6 solid;
  border-radius: 10px;
  margin-left: 170px;
  margin-bottom: 40px;
}
.p-cuadro{
  display: flex;
  flex-direction: column;
  width: 155px;
  height: auto;
  flex-wrap: wrap;
  margin-left: 210px;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

/* zona gris */

.zonagris{
  background-color: #e5e7eb;
  position: relative;
  bottom: 75px;
  height: 200px;
}
.texto{
  width: 700px;
  height: 100px;
  position: absolute;
  top: 40px;
}
.texto-1{
  position: absolute;
  right: 370px;
}
.texto-2{
  text-align: right;
  position: relative;
  left: 808px;
  top: 129px;
}
/* penultima */
.penultima{
  display: flex;
  justify-content: center;
  padding: 20px;
  position: relative;
  bottom: 52px;
}
.blue {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color:#3882f6;
  width: 62%;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 15px;
  color: white;
  
}
.escritos{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-size: 21px;
}
.end-button{
  display: flex;
  flex-direction: row;
  background-color: #3882f6;
  color: white;
  padding: 11px;
  font-size: 30px;
  border: white 1.5px solid;
  border-radius: 10px;
  position: relative;
  left: 218px;
  top: 20px;
}
.ultima{
background-color: #1f2937;
    color: #e5e7eb;
    height: 100px;
}
.copy{
text-align: center;
    box-sizing: border-box;
    position: relative;
    top: 38%;
    font-size: 30px;
}
